#gallery{
	width:100% !important;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
	background-color:#0e1c3a;
}
.heading{
	padding: 20px 0px;
}
.p-headind{
	font-family: 'Orbitron', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	letter-spacing: 2px;
}
.heading p{
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	letter-spacing: 2px;
}
.p-box{
 
	background-color: #1F1F1F;
	height: fit-content;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
 
}
.p-box img{
 
	width: 100%;
	height: auto;
}
.p-container{
	width: 100%;
	height:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.p-box .overlay-text{
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
	
}
.p-box .overlay-text h1,p{
	color: #FFFFFF;
	text-align:center;
}
.p-box .overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.p-box .overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
}
.p-box:hover .overlay-text{
	display: flex;
}
