@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF ;
}

ul{
    list-style: none;
}
a{
    text-decoration: solid; 
}
.container{
    padding: 0px 50px;
}

#home{
    width:100%;
    height: 100vh;    
    box-sizing: border-box;
    background-color: #0e1c3a;
    position: relative;
	background-image: url("./background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.menu li a:hover, 
.active{
    
    background-color:#074996 ;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.dropdown {
	
	visibility: hidden;
	float: right;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	background-image: url("./menu.svg") ;
	background-repeat: no-repeat;
    background-size: cover;
	font-size: 16px;
	border: none;
	outline: none;
	color: #1E1E1E;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  /* Dropdown content (hidden by default) */
.dropdown-content {
	list-style-type: none;
	right: 0;
	float: right;
	margin-top: 20px;
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
.name{
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translate(-30%,-55%);
}
.name p{
    color: #000000;
    font-size: 30px;
}
.name h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #000000;
}

.cv-btn{
    width: 200px;
    height: 45px;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
	font-family: 'Jura', sans-serif;
	
}
.cv-btn:hover{
    background-color: #17d1ac;
    transition: all ease 0.5s;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color: rgba(18, 17, 17, 0.4);
    font-size: 14px;
}
.social a:hover i{
    color:#17d1ac;
    transition: all ease 0.5s;
}

#about{
	width:100%;
	height:auto;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	padding: 40px;
}
.myface{
	width: 100%;
	height:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20%;
}

.profile h2{
	font-family: 'Orbitron', sans-serif;
	width: 100%;
	height: auto;
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 30px;
	color: #074996;
}
.profile h3{
	width: 100%;
	height: auto;
	text-align:center;
}
.profile p{
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	padding: 10px;
	margin-right: 50px;
	height: auto;
	color: #1E1E1E;
	line-height: 1.5;	
	text-align:justify;
}
.c-container{
	display: flex;
	justify-content: center;
	align-content: center;
}
.c-box{
	width:  300px;
	height: 400px;
	margin: 20px;
	border-radius: 10px;
	overflow:visible;
	position: relative;
}
.c-content{
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.c-box h3{
	margin-left: 50px;
	text-align:left;
}

#project{
width:100%;
height:auto;
box-sizing: border-box;
font-family: 'Quicksand', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;
padding-bottom: 160px;
background-color: #0e1c3a;
}
.s-heading h1{
color:#FFFFFF;
font-family: 'Orbitron', sans-serif;
font-size: 2rem;
margin-top: 40px;
margin-bottom: 80px;
padding: 0px;

}
.s-heading p{
color:rgba(255,255,255,0.30);
font-size: 1rem;
margin: 0px;
padding: 0px;
}
.s-heading{
text-align: center;
margin: 20px 0px;
}
.s-box{
background-color: #2B2B2B;
width:350px;
height: 500px;
margin: 20px;
border-radius: 10px;
overflow: hidden;
box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
position: relative;
}
.b-container{
display: flex;
justify-content: center;
align-content: center;

}

.s-box img{
width:100%;
height: 100%;
}

.s-b-text a:hover{
color:rgba(255,255,255,0.50)
}
.s-type{
font-family: calibri;
color:#FFFFFF;
background-color: #151515;
padding: 10px 15px;
position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
font-size: 18px;
border-radius: 0px 0px 10px 10px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
transform:translateY(-10px);
transition: all ease 0.3s;

}
.pj-description{
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(162,217,219, 0.9);
	display:none;
}
.pj-description h1, .pj-description p{
	color: #000000 !important;
}
.pj-description h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.pj-description p{
	font-size: 1.2rem;
	padding: 20px 40px;
	margin: 0px;
	text-align:center;
}
.s-box:hover .pj-description{
	display: flex;
}

#resume{
	width:100%;
	height:auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	padding: 40px;
	padding-bottom: 160px;
}
.resume-table{
	margin-left: 50px;
	margin-right: 50px;
}
#resume h2{
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	color: #074996;
	margin-top: 60px;
	margin-bottom: 80px;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0px;
  }
  
td{
	text-align: left;
	padding: 10px;
	font-family: 'Quicksand', sans-serif;
  } 
th {
	border: none;
	text-align: left;
	padding: 10px;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
  }
  
tr:nth-child(even) {
	background-color: #FFFFFF;
}
table .post{
	padding-top: 0px;
	padding-bottom: 2px;
}
table .company{
	color: #6c707c;
	padding-top: 0px;
	padding-bottom: 10px;
}
#gallery{
	width:100%;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
	background-color:#0e1c3a;
}
.heading{
	padding: 20px 0px;
}
.p-headind{
	font-family: 'Orbitron', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	letter-spacing: 2px;
}
.heading p{
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	letter-spacing: 2px;
}
.p-box{
 
	background-color: #1F1F1F;
	height: fit-content;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
 
}
.p-box img{
 
	width: 100%;
	height: auto;
}
.p-container{
	width: 100%;
	height:auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
	padding-bottom: 50px;
}
.p-box .overlay-text{
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
	
}
.p-box .overlay-text h1{
	color: #FFFFFF;
	text-align:center;
}
.p-box .overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.p-box .overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
}
.p-box:hover .overlay-text{
	display: flex;
}

#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
}
.c-b-heading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: 'Quicksand', sans-serif;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid #1E1E1E;
	
}
#contact-btn button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact-btn button:hover{
	background-color: #17d1ac;
	color:#000000;
	transition: all ease 0.5s;
	font-weight: bold;
}

#contact{
	width: 100%;
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#contact form{
	display: flex;
	width: 70%;
	height: 60vh;
	margin: 50px 20px;
	background-color: #1A1A1A;
	box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01);
}
 
.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: #1ED98B;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
 
}
.c-l-heading{
	font-family: 'Quicksand', sans-serif;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	
}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: 'Quicksand', sans-serif;
	
}
.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid #17d1ac;
	transition: all ease 0.5s;
}.message font{
	font-size: 18px;
	color:#4E4E4E;
	font-family: 'Quicksand', sans-serif;
	
}
.message{
	margin: 20px;
}
.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'Quicksand', sans-serif;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}
